---
title: NeuroBot
---
{% extends "layouts/_layout.html" %}

{% block content %}
<!-- BG-ROTATED -->
	{% include "partials/_bg-rotated.html" %}
<!-- BG-ROTATED -->

<!-- HEADER --> 
	{% include "partials/_header.html" %}
<!-- HEADER -->

<!-- ROBOT -->
	{% include "partials/_robot.html" %}
<!-- ROBOT -->

<!-- FORECAST -->
	{% include "partials/_forecast.html" %}
<!-- FORECAST -->

<!-- ARTICLE -->
	{% include "partials/_article.html" %}
<!-- ARTICLE -->

<!-- NEWS -->
	{% include "partials/_news.html" %}
<!-- NEWS -->

<!-- FAQ -->
	{% include "partials/_faq.html" %}
<!-- FAQ -->

<!-- FOOTER -->
	{% include "partials/_footer.html" %}
<!-- FOOTER -->

{% endblock %}