<footer class="footer">
	<div class="footer__container container">
		<img src="./img/box-darkS.png" alt="box-decor" class="footer__box1 box">
		<img src="./img/box-2.png" alt="box-decor" class="footer__box2 box">
		<div class="footer__bg"></div>
		<ul class="footer__social-list">
			<li class="footer__social"><a href="#" class="footer__icon">{{ mixins.icon('face') }}</a></li>
			<li class="footer__social"><a href="#" class="footer__icon">{{ mixins.icon('insta') }}</a></li>
			<li class="footer__social"><a href="#" class="footer__icon">{{ mixins.icon('youtube') }}</a></li>
			<li class="footer__social"><a href="#" class="footer__icon">{{ mixins.icon('vk') }}</a></li>
		</ul>
		<ul class="footer__aside">
			<li class="footer__aside-item"><a href="#" class="footer__aside-link">Cookies</a></li>
			<li class="footer__aside-item"><a href="#" class="footer__aside-link">Privacy Policy</a></li>
		</ul>
	</div>
</footer>