<section class="forecast">
	<div class="container forecast__container">
		<div class="forecast__heading">
			<h3 class="title-mid">Popular forecasts</h3>
			<div class="forecast__description">The forecasts are updated every 30 minutes</div>
		</div>
		<ul class="forecast__currency button_border">
			<li class="button_border__item"><button type="button" class="button_border__link">btc</button></li>
			<li class="button_border__item"><button type="button" class="button_border__link">ltc</button></li>
			<li class="button_border__item"><button type="button" class="button_border__link">eth</button></li>
			<li class="button_border__item"><button type="button" class="button_border__link">xrp</button></li>
			<li class="button_border__item"><button type="button" class="button_border__link">dash</button></li>
			<li class="button_border__item"><button type="button" class="button_border__link">xmr</button></li>
		</ul>
	</div>
	<img src="./img/box-darkS.png" alt="box-dark" class="forecast__box1">
	<img src="./img/box-darkB.png" alt="box-dark" class="forecast__box2">
	<div class="forecast__graph graph">
		<div class="graph__indicators indicators">
			<div class="indicators__item indicator">
				<p class="indicator__main indicator__main_centered">xrp/usd</p>
			</div>
			<div class="indicators__item indicator">
				<p class="indicator__aside">now</p>
				<p class="indicator__main">12,550</p>
			</div>
			<div class="indicators__item indicator">
				<p class="indicator__aside">24 hours</p>
				<p class="indicator__main">12,550</p>
				<p class="indicator__aside">
					<span>
						<svg class='indicator__aside_arrow'
							 xmlns="http://www.w3.org/2000/svg"
							 xmlns:xlink="http://www.w3.org/1999/xlink"
							 width="8px" height="5px">
							<path fill-rule="evenodd"  fill="rgb(126, 236, 78)"
							 d="M8.003,3.573 L6.571,5.005 L3.999,2.434 L1.427,5.005 L-0.006,3.573 L3.574,-0.007 L3.998,0.418 L4.423,-0.007 L8.003,3.573 Z"/>
							</svg>
						317.00 (5.10%)
					</span>
				</p>
			</div>
		</div>
		<img src="./img/forecast.png" alt="" class="graph__img">
	</div>
</section>