<header class="header">
	<div class="container header__container">
		<a href="#" class="header__logo">
			<img src="./img/logo.png" alt="" class="header__img">
			<div class="header__heading-wrapper">
				<h1 class="header__heading">
					Neurobot<span class="header__heading_colored">.trading</span>
				</h1>
				<p class="header__subheading">Neural network forecasting</p>
			</div>
		</a>
		<div class="header__toggle">
			<div class="header__toggle-icon"></div>
		</div>
		<nav class="header__nav nav">
			<ul class="nav__list">
				{% set nav = [{ title: 'Forecasts'}, { title: 'Tokens'}, { title: 'About'}] %}
				{% for item in nav %}
					<li class="nav__item"><a href="#" class="nav__link {% if loop.index == 1 %} current{% endif %}">{{item.title}}</a></li>
				{% endfor %}
			</ul>
		</nav>
		<div class="header__login login">
			<a href="#" class="login__link login__item">Log In</a>
			<a href="#" class="login__item button button_white button_sm">Sign Up</a>
		</div>
		<div class="header__lang lang">
			<a href="#" class="lang__current">Eng</a>
			<ul class="lang__list">
				<li><a class="lang__extra" href="#">Рус</a></li>
			</ul>
		</div>
	</div>
</header>