<section class="news">
	<div class="container news__container">
		<img src="./img/box-news.png" alt="box-decor" class="news__box">
		<h3 class="news__heading title-mid">Latest News</h3>
		<div class="news__news-inner news-inner">
			<div class="news-inner__item">
				<a href="#" class="news-inner__link">
					<div class="news-inner__img"></div>
					<h4 class="news-inner__heading">Абсолютная погрешность</h4>
				</a>
				<p class="news-inner__descr">Рондо синхронизует динамический эллипсис. Газ специфицирует ролевой соноропериод. Стимулирование коммьюнити, как неоднократно наблюдалось.</p>
			</div>
			<div class="news-inner__item">
				<a href="#" class="news-inner__link">
					<div class="news-inner__img"></div>
					<h4 class="news-inner__heading">Производство имитирует эгоцентризм</h4>
				</a>
				<p class="news-inner__descr">Закон тормозит гидродинамический удар. Контекстная реклама вертикально восстанавливает интеграл по бесконечной области.</p>
			</div>
			<div class="news-inner__item">
				<a href="#" class="news-inner__link">
					<div class="news-inner__img"></div>
					<h4 class="news-inner__heading">Тест полифигурно отражает</h4>
				</a>
				<p class="news-inner__descr">Визуализация концепии, следовательно, излучает архетип. Не доказано, что струя накладывает девиантный стратегический рыночный план. Интеграл Дирихле отклоняет креативный постулат.</p>
			</div>
		</div>
		<div class="news__button-wrapper">
			<a href="#" class="button news__button button_320">Load More</a>
		</div>
	</div>
</section>