<section class="robot">
	<div class="container robot_container">
		<div class="robot__heading">
			<h2 class="heading">Forecasting Exchange Rates</h2>
			<div class="robot__description">of Cryptocurrencies<br>by Neural Network Algorithm</div>
			<button type="button" class="button robot__button button_320">Join Free For 3 Days</button>
		</div>
		<img class="robot__img" src="./img/robot.png" alt="robot">
		<img class="robot__img robot__img-small" src="./img/robot-S.png" alt="robot">
		<div class="robot__tablet-wrapper">
			<div class="robot__tablet-inner">
				<video class="robot__tablet-video" src="0" width="100%" height="auto"></video>
				<a href="#" class="robot__tablet-icon-wrapper">
					<div class="robot__tablet-icon"></div>
				</a>
			</div>
		</div>
	</div>
	<img class="robot__box1" src="./img/box-2.png" alt="decor_box">
	<img class="robot__box2" src="./img/box.png" alt="decor_box">
</section>