<section class="token">
	<img src="./img/box-B.png" alt="box-decor" class="token__box-b box">
	<div class="container token__container">
		<img src="./img/box-S.png" alt="box-decor" class="token__box-s box">
		<img src="./img/box-M.png" alt="box-decor" class="token__box-m box">
		<h2 class="token__heading heading">Tokens</h2>
		<p class="token__descr descr">The NeuroBot is a neural network algorithm created for forecasting exchange rates of cryptocurrencies. The neural network collects and analyses Data 24/7 and provides forecasts for various cryptocurrencies' exchange rates. There are three types of forecasts: 24 hours, 48 hours and one week. Neural network algorithm implemented with algorithms of the essential aspects of technical analysis, such as patterns and signal indicators calculate forecast Data with one second time.</p>
		<p class="token__descr descr">The program will be further upgraded by introducing the remaining elements of technical analysis (Fibonacci retracement, the Elliot wave theory , etc ) and fundamental analysis - market news algorithms will be implemented - one more neural network with functions to determine positive and negative tendencies of the market.</p>
		<h3 class="token__subheading heading-small">NEB contract address</h3>
		<form action="/" class="token__form form">
			<div class="form__input-wrapper">
				<input type="text" class="form__input" readonly="" value="0xd84500DDAF560dF7bE57702b3A8769A782Ce0277">
				<button class="form__input-btn">{{ mixins.icon('copy') }}</button>
			</div>
			<div class="form__button-wrapper">
				<button class="button form__button">etherscan.io</button>
				<button class="button button_white form__button">Etherdelta.com</button>
			</div>
		</form>
	</div>
</section>