article
	margin-top: 142px
.article
	background: #fff
	color: $darkblue
	border-radius: 16px
	// max-height: 1160px
	&__heading
		+f(60px, 600)
		padding: 73px 0 30px 96px

.post
	display: flex
	// width: 100%
	max-width: 980px
	margin: 0 auto
	flex-direction: column
	flex-wrap: wrap
	max-height: 1100px
	padding-bottom: 35px
.post__item
	display: flex
	max-width: 460px
	width: 50%
	margin-bottom: 47px
	padding: 0 5px
	&:nth-child(4)
		margin-left: 65px
	&:nth-child(5)
		margin-left: 65px
	&:nth-child(6)
		margin-left: 65px
	& svg
		width: 20%
	& p
		+f(18px, 300)
		width: 95%
		margin-top: -10px
		line-height: 2