.faq
	position: relative
	background: $white
	color: $darkblue
	border-radius: 16px
	max-width: 1170px
	margin: 105px auto 0
	min-height: 900px
	&__img
		position: absolute
		top: 10%
		left: -7.7%
	&__container
		max-width: 1040px
	&__heading
		+f(72px, 600)
		padding: 80px 30px 55px
		margin: 0 auto
		line-height: 1
		& span
			font-weight: 200

.accordion
	margin-left: 6px
	padding: 0 30px
	&__item
		display: flex
		cursor: pointer
		padding-bottom: 27px
		flex-wrap: wrap
		line-height: 1.5
	&__circle
		+circle(36)
		background: $navy
		flex: none
		position: relative
		margin-right: 16px
		margin-top: 5px
	&__arrow
			+vcenter
			&_active
				+rotate(-90)
	&__question
		+f(30px, 600)
		max-width: 92%
	&__answer
		padding-top: 12px
		padding-left: 50px
		display: none
		background-color: white
		overflow: hidden
		+f(18px, 300)
		cursor: text
		line-height: 2
