.robot
	&_container
		position: relative
	&__img
		position: absolute
		top: -135px
		left: -78px
		pointer-events: none
		+nosel
		z-index: -1
	&__heading
		max-width: 600px
		text-align: center
		margin: 118px 86px 0 auto
		line-height: 1.2
		& h2
			+f(72px, 600)
		& p
			+f(30px, 600)
			margin: 7px 0 20px 13px
			line-height: 1.6

	&__tablet-wrapper
		width: 100%
		background: #fff
		height: 720px
		border-radius: 16px
		margin-top: 210px
		display: flex
		justify-content: center
		align-items: center
		position: relative
		z-index: -2
	&__tablet-inner
		min-width: 1074px
		min-height: 624px
		border-radius: 8px
		background: $darkgray
		display: flex
		justify-content: center
		align-items: center
	&__tablet-icon
		+vcenter
		z-index: 1
	&__box1
		position: absolute
		top: 40%
		left: 7%
		z-index: -2
	&__box2
		position: absolute
		top: 545px
		right: 10%
		z-index: -2
