article
	margin-top: 142px
	+md
		margin-top: 50px
.article
	background: #fff
	color: $darkblue
	border-radius: 16px
	padding: 80px 80px 100px 100px
	+md
		padding: 40px
	+sm
		padding: 30px 10px
	&__heading
		+f(60px, 600)
		padding-bottom: 35px
		+md
			+f(48px, 600)
		+sm
			text-align: center
			+f(36px, 600)

.post
	column-count: 2
	column-gap: 70px
	+md
		column-gap: 30px
	+sm
		column-count: 1
.post__item
	display: inline-flex
	&:not(:last-child)
		margin-bottom: 40px
	& svg
		margin-right: 25px
		+md
			margin-right: 10px
	& p
		+f(18px, 300)
		max-width: 80%
		margin-top: -10px
		line-height: 2
		+md
			+f(14px, 300)
		+sm
			line-height: 22px
		+ms
			max-width: 74%
	+md
		margin-right: 0
	+sm
		max-width: none
		width: 100%