article
	margin-top: 142px
	+md
		margin-top: 50px
.article
	background: #fff
	color: $darkblue
	border-radius: 16px
	// max-height: 1160px
	overflow: hidden
	&__heading
		+f(60px, 600)
		padding: 80px 100px 0
		+md
			+f(48px, 600)
			padding: 40px
			padding-bottom: 0
		+sm
			padding: 40px 10px
			text-align: center
			+f(36px, 600)

.post
	display: flex
	max-width: 1100px
	margin: 0 auto
	flex-direction: column
	flex-wrap: wrap
	max-height: 1120px
	padding: 35px
	align-items: flex-end
	+md
		max-height: 950px
	+sm
		max-height: none
		align-items: center
		padding: 20px
.post__item
	display: flex
	max-width: 460px
	word-wrap: break-word
	width: 50%
	margin: 0 18px 45px 0
	& svg
		margin-right: 27px
		+md
			margin-right: 10px
	& p
		+f(18px, 300)
		max-width: 80%
		margin-top: -10px
		line-height: 2
		+md
			+f(14px, 300)
		+sm
			line-height: 22px
		+ms
			max-width: 74%
	+md
		margin-right: 0
	+sm
		max-width: none
		width: 100%