.button
	display: inline-block
	color: $white
	text-decoration: none
	background-color: $darkblue
	padding: 17px 25px
	+f(18px, 600)
	font-family: $montserrat
	border-radius: 32px
	text-align: center
	outline: none
	cursor: pointer
	line-height: 1.4
	&:focus, &:hover
		text-decoration: none
		outline: none
	+md
		+f(16px, 600)
		max-width: 330px
	+sm
		max-width: 260px

.button_sm
	padding: 12px 25px
	border-radius: 16px
	line-height: 1
	+md
		padding: 9px 20px

.button_white
	color: $darkblue
	background-color: $white
	transition: color 300ms, background-color 300ms
	+hover
		color: $white
		background-color: $darkblue

.button_320
	min-width: 320px
	+md
		min-width: 260px

.button_full
	width: 100%
	padding: 20px