.button
	display: inline-block
	color: $white
	text-decoration: none
	background-color: $darkblue
	padding: 17px 25px
	+f(18px, 600)
	font-family: $montserrat
	border-radius: 32px
	text-align: center
	outline: none
	cursor: pointer
	line-height: 1.4
	transition: color 300ms, background-color 300ms
	&:focus, &:hover
		text-decoration: none
		outline: none
	+md
		+f(16px, 600)

.button_sm
	padding: 12px 25px
	border-radius: 16px
	line-height: 1
	+md
		padding: 9px 20px

.button_320
	min-width: 320px
	+md
		min-width: 260px

.button_full
	width: 100%
	padding: 20px

.button_border
	text-transform: uppercase
	border: 8px solid #223e5c
	background: transparent
	min-width: 136px
	padding: 14px
	border-radius: 8px
	+f(30px, 700)
	color: $white
	transition: border 300ms, background-color 300ms
	+hover
		background-color: $navy
		border: 8px solid $navy
	+md
		+f(18px, 700)
		min-width: 100px
		padding: 12px
	+sm
		min-width: 90px

.button_white
	color: $darkblue
	background-color: $white
	transition: color 300ms, background-color 300ms
	+hover
		color: $white
		background-color: $darkblue