.forecast
	margin: 140px auto 0
	position: relative
	&__bg
		background-color: $darkblue
		width: 500%
		height: 245%
		position: absolute
		z-index: -5
		+rotate(30)
		left: -200%
		top: -600px
		+md
			top: -200px
		+ms
			top: -100px
	&__container
		max-width: 1010px
		+sm
			padding: 0 15px
	&__heading
		padding: 8px 0
	&__description
		+f(24px, 600)
		margin-top: 8px
		+md
			+f(18px, 600)
		+sm
			+f(16px, 600)
	&__currency
		display: flex
		flex-wrap: wrap
		margin-top: 35px
		margin-right: -16px
		+sm
			margin-top: 20px
	&__box1
		position: absolute
		top: -65px
		right: 7.5%
		z-index: -1
		+sm
			display: none
	&__box2
		position: absolute
		top: 60px
		left: 0
		z-index: -1
		+md
			top: 1280px
			left: -150px
			z-index: 1
		+sm
			display: none
	+md
		margin-top: 40px

.button-border
	&__item
		&:not(:last-child)
			margin-right: 30px
			margin-bottom: 30px
			+md
				margin-right: 20px
				margin-bottom: 20px
			+sm
				margin-right: 10px
				margin-bottom: 10px

.graph
	margin: 10px auto 0
	position: relative
	&__img
		display: block
		margin: 0 auto
		position: relative
		z-index: -2
		width: 100%
		padding: 0 30px
	+sm
		margin-top: 20px
.indicators
	display: flex
	position: absolute
	left: 27.4%
	top: 5.5%
	line-height: 1.3
	&__item
		margin-right: 45px
		&:last-child
			margin-right: 0
	+md
		left: 10%
	+sm
		position: static
		justify-content: center
		margin-bottom: 20px

.indicator
	&__main
		text-transform: uppercase
		+f(24px, 700)
		+md
			+f(20px, 700)
		+sm
			+f(18px,700)
		&_centered
			line-height: 2.6
	&__aside
		+f(12px, 500)
		text-align: right
		margin-left: -15px
		+md
			+f(10px, 500)
		& span
			color: $green
		&_arrow
			margin-bottom: 2px