<header>
	<div class="container">
		<div class="header">
			<a class="header__logo" href="#">
				<img src="../../img/logo.png" alt="logo">
				<div class="title">
					<h1>Neurobot<span>.trading</span></h1>
					<p>Neural network forecasting</p>
				</div>
			</a>
			<nav class="header__menu">
				<ul class="nav">
					<li><a href="#" class="navigation__item">Forecasts</a></li>
					<li><a href="#" class="navigation__item">Tokens</a></li>
					<li><a href="#" class="navigation__item">About</a></li>
				</ul>
			</nav>
			<div class="header__login">
				<ul class="nav">
					<li><a href="#" class="login__item login_log">Log in</a></li>
					<li><a href="#" class="login__item login_sign">Sign Up</a></li>
				</ul>
			</div>
			<div class="header__lang">
				<a href="#" class="lang__current">Eng</a>
				<ul class="lang__list">
					<li><a class="lang_extra" href="#">Рус</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>