<header>
	<div class="container">
		<div class="header">
			<div class="header__logo">
				<a href="#">
					<img src="../../img/logo.png" alt="logo">
					<div class="title">
						<h1>Neurobot<span>.trading</span></h1>
						<p>Neural network forecasting</p>
					</div>
				</a>
			</div>
			<div class="header__menu">
				<nav>
					<ul class="navigation">
						<li><a href="#" class="navigation__item">Forecasts</a></li>
						<li><a href="#" class="navigation__item">Tokens</a></li>
						<li><a href="#" class="navigation__item">About</a></li>
						<li><a href="#" class="navigation__item">Log in</a></li>
						<li><a href="#" class="navigation__item navigation__item--sign">Sign Up</a></li>
						<li><a href="#" class="navigation__item navigation__item--lang">
							<ul class="lang_menu">
								<li><a class="lang_menu__item lang_current" href="#">Eng</a></li>
								<li><a class="lang_menu__item lang_extra" href="#">Рус</a></li>
							</ul>
						</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>