<header>
	<div class="container">
		<div class="header">
			<div class="header__logo">
				<a href="#">
					<img src="../../img/logo.png" alt="logo">
					<div class="title">
						<h1>Neurobot<span>.trading</span></h1>
						<p>Neural network forecasting</p>
					</div>
				</a>
			</div>
			<div class="header__menu">
				<nav>
					<ul class="navigation">
						<li><a href="#" class="navigation__item">Forecast</a></li>
						<li><a href="#" class="navigation__item">Tokens</a></li>
						<li><a href="#" class="navigation__item">About</a></li>
						<li><a href="#" class="navigation__item">Log in</a></li>
						<li><a href="#" class="navigation__item navigation__item--btn">Sign Up</a></li>
						<li><a href="#" class="navigation__item navigation__item--btn">Eng</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>