.icon-article-icon-1 {
  width: 1.39em;
  height: 1em;
  fill: currentColor;
}
.icon-article-icon-2 {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-article-icon-3 {
  width: 1.03em;
  height: 1em;
  fill: currentColor;
}
.icon-article-icon-4 {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-article-icon-5 {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-article-icon-6 {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-copy {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-face {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-insta {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-telegram {
  width: 1.15em;
  height: 1em;
  fill: currentColor;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-youtube {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
